<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bbs.each do |bb| %>
      <tr>
        <td><%= bb.name %></td>
        <td><%= bb.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '投稿する', new_bb_path %>
