<!DOCTYPE html>
<html>
  <head>
    <title>Edge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>掲示板</h1>
      <p>シンプルで可用性のある掲示板システムです</p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
